*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
  --ff-primary: 'Rubik', sans-serif;
  --hue: 271;
  --primary-color: hsl(var(--hue), 81%, 45%);
  --secondary-color: hsl(172, 78%, 52%);
  --body-color: hsl(var(--hue), 85%, 62%);
  --app-color: hsl(var(--hue), 52%, 88%);
  --card-color: hsl(var(--hue), 33%, 80%);
  --text-primary-color: hsl(var(--hue), 82%, 29%);
  --text-secondary-color: hsl(var(--hue), 52%, 88%);
}
body{
  font-size: 1.6rem;
}
#brand img{
  width: 10rem;
  height: 10rem;
  border-radius: 9999px;
}
#pages{
}
#pages button{
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: var(--text-primary-color);
}
#pages button svg{
  width: 3rem;
  height: 3rem;
}
#pages button svg path.cls-1, #pages button svg circle.cls-2{
  fill: var(--text-primary-color);
}
#pages button svg path.cls-3{
  fill: var(--app-color);
}